<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Usance a Corporate Category Bootstrap Responsive Website Template | Pricing :: W3layouts</title>
	<!-- Template CSS -->
	{% load static %}
	<link rel="stylesheet" href="{% static 'vcall/css/style.css' %}">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css?family=Hind:400,500,600,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->

</head>

<body>
	<!--/top-header-content-->
	<div class="template">
		<header id="site-header" class="fixed-top">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-dark stroke">
					<a class="navbar-brand" href="index.html">
						<span><img src="{% static 'vcall/images/logo.png' %}" height="80" width="80"></span>Easy Meets
					</a>
					<button class="navbar-toggler bg-gradient" type="button" data-toggle="collapse"
						data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
						aria-label="Toggle navigation"><span class="navbar-toggler-icon fa fa-bars"> </span>
					</button>

					<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link effect-3" href="{% url 'user_register' %}">Sign up</a>
							</li>

							<li class="nav-item active">
								<a class="nav-link effect-3" href="{% url 'login' %}">Login</a>
							</li>
							
						</ul>

					</div>
				</nav>
			</div>
		</header>
	</div>
	<!--//top-header-content-->
	<br>
	<br>
	<br>
	<br>
	<section class="w3l-contact-main">
		<div class="contact-infhny py-5">
			<div class="container py-lg-3">
				<div class="top-map">
					<center><h1>Register</h1></center>
					<div class="map-content-9">
						<form method="POST">
							{% csrf_token %}
							<div class="form-top1">
								<h1 style="color:  rgb(255, 42, 42);">!!{{error}}!!</h1>


								<label for="exampleInputEmail1">User name</label>
								<input type="text" class="form-control" id="exampleInputEmail1" placeholder="username"
									name="username" required>

								<label for="exampleInputEmail1">Email address</label>
								<input type="text" class="form-control" id="exampleInputEmail1" placeholder="email"
									name="email" required>


								<label for="exampleInputEmail1">First name</label>
								<input type="text" class="form-control" id="exampleInputEmail1" placeholder="First name"
									name="first_name">


								<label for="exampleInputEmail1">Last Name</label>
								<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Last name"
									name="last_name">

								<label for="exampleInputPassword1">Password</label>
								<input type="password" class="form-control" id="exampleInputPassword1"
									placeholder="enter Password" name="password1" required>

								<label for="exampleInputPassword1">confirm Password</label>
								<input type="password" class="form-control" id="exampleInputPassword1"
									placeholder="enter again" name="password2" required>



							</div>

					</div>
					<div class="text-center">
						<button type="submit">submit </button>

						<button type="submit"><a href="{% url 'login' %}">already have an account? login </a></button>



					</div>
				</div>
				</form>
			</div>

</body>

</html>

<script src="{% static 'vcall/js/jquery-3.3.1.min.js' %}"></script>
<!-- disable body scroll which navbar is in active -->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!--/MENU-JS-->
<script>
	$(window).on("scroll", function () {
		var scroll = $(window).scrollTop();

		if (scroll >= 80) {
			$("#site-header").addClass("nav-fixed");
		} else {
			$("#site-header").removeClass("nav-fixed");
		}
	});

	//Main navigation Active Class Add Remove
	$(".navbar-toggler").on("click", function () {
		$("header").toggleClass("active");
	});
	$(document).on("ready", function () {
		if ($(window).width() > 991) {
			$("header").removeClass("active");
		}
		$(window).on("resize", function () {
			if ($(window).width() > 991) {
				$("header").removeClass("active");
			}
		});
	});
</script>
<!--//MENU-JS-->
<!-- /aos -->
<script src="{% static 'vcall/js/aos.js' %}"></script>
<script src="{% static 'vcall/js/aosindex.js' %}"></script>
<!-- //aos -->
<!-- disable body scroll which navbar is in active -->
<!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->
<script src="{% static 'vcall/js/bootstrap.min.js' %}"></script>